* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body-box {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  background-color: #FAF9F6;
  border-radius: 20px;
  box-shadow: -8px 8px 20px 5px #aaaaaa;
  width: 750px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-box {
  text-align: center;
  background: linear-gradient(45deg, #FD492D, #FE4349);
  color: white;
  padding-inline: 50px;
  height: 500px;
  width: 375px;
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
}

.right {
  margin-left: 375px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left {
  margin-left: -375px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.switch-btn {
  all: unset;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  border-radius: 20px;
  padding-block: 10px;
  padding-inline: 20px;
  
  transition: 250ms ease;
}

.switch-btn:hover {
  color: #FE4349;
  background-color: white;
}

.sign-in-box, .create-account-box {
  text-align: center;
  width: 50%;
  padding-inline: 50px;
}

input[type="submit"] {
  background-color: #FD4B35;
  border: 2px solid #FD4B35;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  border-radius: 20px;
  padding-block: 10px;
  padding-inline: 20px;
  
  transition: 250ms ease;
}

input[type="submit"]:hover {
  color: #FD4B35;
  background-color: white;
}

input[type="email"], input[type="password"], input[type="text"] {
  border: none;
  border-bottom: 1px solid grey;
  padding-block: 10px;
  padding-inline: 5px;
  width: 100%;
  margin-block-end: 20px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  outline: none;
}

input[type="button"] {
  all: unset;
  font-size: 0.8rem;
  color: grey;
  margin-block-end: 20px;
  cursor: pointer;
}

h1, h4 {
  margin-block-end: 15px;
}

h4 {
  font-weight: 100;
}

h5 {
  color: grey;
  margin-block-end: 10px;
  font-weight: 100;
}

.icons > img {
  width: 32px;
  padding-block: 5px;
  padding-inline: 5px;
  margin-block-end: 5px;
  margin-inline: 10px;
  filter: invert(40%);
  cursor: pointer;
}